* {
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    color: #89CFF0;
    height: 764px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
   color: rgb(0,0,0);
}

.collapse li a {
    color: #fff;
}

.dropdown {
    position: absolute;
    bottom: 300px;
    
    
}

@media (max-width:558px) {
    .container {
        font-size: 35px;
    }

    .dropdown {
        bottom: 350px;
    }
}



@media (max-width:491px) {
    .container {
        font-size: 30px;
    }

    .dropdown {
        bottom: 360px;
    }
}

@media (max-width:424px) {
    .container {
        font-size: 23px;
    }

    .dropdown {
        bottom: 375px;
    }
}