@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition: all 0.6s;
}

nav {
  width: 100%;
  background-color: rgba(207, 204, 204, 0.432);
  border-radius: 10px;
  position: fixed;
  box-shadow: 1px 1px rgba(88, 87, 87, 0.432);
}

.container {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.list li {
  display: inline-block;
}
.list a {
  font-size: 20px;
  color: black;
  display: block;
  padding: 7px 30px;
}
.list a:hover {
  background-color: black;
  color: #fff;
}

.img-texts {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.img-texts img {
  margin-top: 30px;
}

.titles-middle {
  margin-left: 20%;
}
.titles-middle h1 {
  font-size: 60px;
  color: #5a5a5a;
}
.titles-middle h4 {
  font-size: 30px;
  color: #5a5a5a;
}

.search-elements {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  margin-top: 7%;
  margin-bottom: 4%;
}
.search-elements ul {
  text-align: center;
}
.search-elements li {
  display: inline-block;
}
.search-elements a {
  display: block;
  padding: 17px;
  color: black;
}
.search-elements a:hover {
  background-color: black;
  color: #fff;
}

.content-images {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}
.photos .second {
  width: 100%;
  padding-bottom: 25px;
  padding-left: 25px;
}
.photos .third {
  width: 100%;
  padding-left: 25px;
}

.bottom-photos {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.small-pic {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}
.small-pic .fourth {
  width: 90%;
  height: 100%;
}

.last-pic {
  display: flex;
  margin-top: 25px;
}
.last-pic .smallest-pic img {
  width: 90%;
  height: 100%;
  margin-left: 25px;
}

.load-more-button {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 50px;
}
.load-more-button a {
  font-weight: 900;
  color: black;
}
.load-more-button a:hover {
  color: rgb(104, 101, 101);
}

.title-blog {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  margin-top: 7%;
  text-align: center;
}

.img-footer {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
.img-footer .first-child {
  width: 30%;
}
.img-footer .first-child h2 {
  color: black;
  text-align: center;
}
.img-footer .first-child p {
  color: rgb(143, 140, 140);
  text-align: center;
}
.img-footer .sec-child {
  padding-left: 25px;
  width: 30%;
}
.img-footer .sec-child h2 {
  color: black;
  text-align: center;
}
.img-footer .sec-child p {
  color: rgb(143, 140, 140);
  text-align: center;
}
.img-footer .third-child {
  margin-left: 50px;
  width: 30%;
}
.img-footer .third-child h2 {
  color: black;
  text-align: center;
}
.img-footer .third-child p {
  color: rgb(143, 140, 140);
  text-align: center;
}

.footer {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  color: rgb(143, 140, 140);
}
.footer ul {
  margin-right: 4%;
}
.footer li {
  display: inline-block;
}
.footer a {
  display: block;
  padding: 17px;
  color: black;
}
.footer a:hover {
  color: rgb(228, 225, 225);
}
.footer span {
  color: black;
}

@media (max-width: 1100px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .content-images img {
    width: 50%;
  }
  .content-images .photos {
    width: 50%;
  }
}
@media (max-width: 1100px) {
  .img-footer {
    width: 100%;
  }
  .img-footer .first-child {
    width: 50%;
  }
  .img-footer .sec-child {
    width: 50%;
  }
  .img-footer .third-child {
    width: 50%;
  }
}
@media (max-width: 750px) {
  .img-footer {
    width: 100%;
  }
  .img-footer .first-child {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .img-footer .sec-child {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .img-footer .third-child {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
